Net "iReset" LOC = "A7";
NET "iClk" LOC = "B8";
Net "iBoton" LOC = "M4";
Net "iBotonCount1" LOC = "G12";
Net "iBotonCount2" LOC = "C11";
Net "ivDatos<7>" LOC = "B2";
Net "ivDatos<6>" LOC = "A3";
Net "ivDatos<5>" LOC = "J3";
Net "ivDatos<4>" LOC = "B5";
Net "ivDatos<3>" LOC = "C6";
Net "ivDatos<2>" LOC = "B6";
Net "ivDatos<1>" LOC = "C5";
Net "ivDatos<0>" LOC = "B7";
Net "ovDisplay<0>" LOC = "M12";
Net "ovDisplay<1>" LOC = "L13";
Net "ovDisplay<2>" LOC = "P12";
Net "ovDisplay<3>" LOC = "N11";
Net "ovDisplay<4>" LOC = "N14";
Net "ovDisplay<5>" LOC = "H12";
Net "ovDisplay<6>" LOC = "L14";
Net "ovAnode<3>" LOC = "K14";
Net "ovAnode<2>" LOC = "M13";
Net "ovAnode<1>" LOC = "J12";
Net "ovAnode<0>" LOC = "F12";
Net "ovLED<0>" LOC = "M5";
Net "ovLED<1>" LOC = "M11";
Net "ovLED<2>" LOC = "P7";
Net "hsync" LOC = "J14";
Net "vsync" LOC = "K13";
Net "red<0>" LOC = "C14";
Net "red<1>" LOC = "D13";
Net "red<2>" LOC = "F13";
Net "green<0>" LOC = "F14";
Net "green<1>" LOC = "G13";
Net "green<2>" LOC = "G14";
Net "blue<0>" LOC = "H13";
Net "blue<1>" LOC = "J13";